# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Datasets & generated images
data/
!data/fonts/        # keep fonts if you want

# Model checkpoints & runs
runs/

# Jupyter/VSCode junk
.ipynb_checkpoints/
.vscode/
